/* Login.css */

body {
  display: flex;
  justify-content: center;
  align-items: left; /* This will center the form vertically as well */
  min-height: 100vh; /* Use at least the full height of the viewport */
  margin: 0; /* Reset default margin */
  margin-top: -1px;
  background-color: #5f6ec5; /* Or any other color you prefer */
  color: #000000;
  flex-direction: column;
}

.login-container {
    text-align: left;
  }

.login-form {
    display: block; /* or 'inline-block' if the form is inside a flex or grid container */
    margin: auto; /* this will center the form horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1b1a1a;
    width: 200px; /* Or a specific width like 300px */
    color: #ffffff;
  }

.login-form button {
    display: block; /* Make the button a block element */
    width: 100%; /* Set the button width to occupy the full container width */
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px; /* Add some space above the button */
  }
  
.login-form button:hover {
    background-color: #45a049da;
  }

  
/* Additional styles for error messages */
.error-message {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0px; /* To reduce space between the input and error message */
    margin-bottom: 10px; /* To keep consistent spacing after the error message */
    margin-right: -25px;
  }