   .patient-list-container h3 {
    color: #000000; 
    text-align: left;
  }
  
  .patient-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #1b1a1a; 
  }
  
  .patient-list div {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .patient-list a {
    width: 100%;
    text-align: left;
    display: block;
    padding: 5px;
    color: #ffffff; 
    text-decoration: none; 
  }
  
  .patient-list a:hover {
    background-color: #292929; 
  }
  
  .patient-list-container button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50; 
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .patient-list-container button:hover {
    background-color: #45a049da; 
  }